<center><font size =6> Predict fertility with an imbalaced dataset. </font><center>

Load the data.

In [1]:
import pandas as pd
df=pd.read_csv("fertility_diagnosis.csv",header=None)
df

       0     1  2  3  4  5    6  7     8  9
0  -0.33  0.69  0  1  1  0  0.8  0  0.88  N
1  -0.33  0.94  1  0  1  0  0.8  1  0.31  O
2  -0.33  0.50  1  0  0  0  1.0 -1  0.50  N
3  -0.33  0.75  0  1  1  0  1.0 -1  0.38  N
4  -0.33  0.67  1  1  0  0  0.8 -1  0.50  O
..   ...   ... .. .. .. ..  ... ..   ... ..
95 -1.00  0.67  1  0  0  0  1.0 -1  0.50  N
96 -1.00  0.61  1  0  0  0  0.8  0  0.50  N
97 -1.00  0.67  1  1  1  0  1.0 -1  0.31  N
98 -1.00  0.64  1  0  1  0  1.0  0  0.19  N
99 -1.00  0.69  0  1  1  0  0.6 -1  0.19  N

[100 rows x 10 columns]

The dataset looks cleaned already. Let's separate the predictor variables and the target variable.

In [2]:
X=df.drop(columns=9, axis=0)
X

       0     1  2  3  4  5    6  7     8
0  -0.33  0.69  0  1  1  0  0.8  0  0.88
1  -0.33  0.94  1  0  1  0  0.8  1  0.31
2  -0.33  0.50  1  0  0  0  1.0 -1  0.50
3  -0.33  0.75  0  1  1  0  1.0 -1  0.38
4  -0.33  0.67  1  1  0  0  0.8 -1  0.50
..   ...   ... .. .. .. ..  ... ..   ...
95 -1.00  0.67  1  0  0  0  1.0 -1  0.50
96 -1.00  0.61  1  0  0  0  0.8  0  0.50
97 -1.00  0.67  1  1  1  0  1.0 -1  0.31
98 -1.00  0.64  1  0  1  0  1.0  0  0.19
99 -1.00  0.69  0  1  1  0  0.6 -1  0.19

[100 rows x 9 columns]

In [3]:
from sklearn import preprocessing
names=X.columns
scaler=preprocessing.StandardScaler()
X=scaler.fit_transform(X)
X=pd.DataFrame(X, columns=names)
X.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,0,1,2,3,4,5,6,7,8
0,-0.316753,0.173970,-2.586949,1.128152,0.980196,-0.32881,-0.192006,0.434959,2.551481
1,-0.316753,2.245043,0.386556,-0.886405,0.980196,-0.32881,-0.192006,1.677698,-0.521943
2,-0.316753,-1.400045,0.386556,-0.886405,-1.020204,-0.32881,1.008032,-0.807781,0.502532
3,-0.316753,0.671028,-2.586949,1.128152,0.980196,-0.32881,1.008032,-0.807781,-0.144505
4,-0.316753,0.008284,0.386556,1.128152,-1.020204,-0.32881,-0.192006,-0.807781,0.502532

In [4]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
y=pd.DataFrame(df.iloc[:,9])
clf = ExtraTreesClassifier(n_estimators=50)
clf = clf.fit(X, y)
scores=pd.DataFrame(clf.feature_importances_).rename(columns={0:"scores"})
scores=scores.sort_values(by=["scores"],ascending=False).nlargest(5,"scores")
scores

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

     scores
1  0.176841
8  0.143543
0  0.141433
6  0.121291
5  0.106216

In [5]:
X=X.iloc[:,[1,8,0,6,5]]
X

           1         8         0         6        5
0   0.173970  2.551481 -0.316753 -0.192006 -0.32881
1   2.245043 -0.521943 -0.316753 -0.192006 -0.32881
2  -1.400045  0.502532 -0.316753  1.008032 -0.32881
3   0.671028 -0.144505 -0.316753  1.008032 -0.32881
4   0.008284  0.502532 -0.316753 -0.192006 -0.32881
..       ...       ...       ...       ...      ...
95  0.008284  0.502532 -1.161931  1.008032 -0.32881
96 -0.488773  0.502532 -1.161931 -0.192006 -0.32881
97  0.008284 -0.521943 -1.161931  1.008032 -0.32881
98 -0.240244 -1.168979 -1.161931  1.008032 -0.32881
99  0.173970 -1.168979 -1.161931 -1.392045 -0.32881

[100 rows x 5 columns]

In [6]:
#from sklearn.preprocessing import OneHotEncoder
y=pd.DataFrame(df.iloc[:,9])
#enc=OneHotEncoder(handle_unknown="ignore")
#y=pd.DataFrame(enc.fit_transform(y).toarray())
#y.head()

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
print(X_train.shape)
print(X_test.shape)

(85, 5)
(15, 5)

In [8]:
from sklearn.ensemble import RandomForestClassifier
tree = RandomForestClassifier(max_depth=7, class_weight="balanced_subsample",random_state=0)
tree

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='gini', max_depth=7, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators='warn', n_jobs=None, oob_score=False,
            random_state=0, verbose=0, warm_start=False)

In [9]:
tree.fit(X_train, y_train)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='gini', max_depth=7, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=None, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [10]:
from sklearn.metrics import accuracy_score
y_pred=tree.predict(X_test)
print("Accuracy on test data is: ",accuracy_score(y_test,y_pred))

Accuracy on test data is:  0.8666666666666667

In [11]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[13,  1],
       [ 1,  0]])

True positive is 0. If we want to use this model to screen for altered semen, it is basically useless.

In [12]:
len(df[df.iloc[:,9]=="O"])

12

The data set is imbalanced. Let's re-sample the dataset and see if that can improve sensitivity.

In [13]:
df_O=df[df.iloc[:,9]=="O"]
df_O

       0     1  2  3  4  5    6  7     8  9
1  -0.33  0.94  1  0  1  0  0.8  1  0.31  O
4  -0.33  0.67  1  1  0  0  0.8 -1  0.50  O
17  1.00  0.69  1  0  1  0  0.8 -1  0.25  O
19  1.00  0.67  1  0  0  0  0.8  1  0.38  O
23  1.00  0.69  1  0  1 -1  1.0 -1  0.44  O
26  1.00  0.67  1  0  1  0  0.6 -1  0.38  O
27  1.00  0.78  1  1  0  1  0.6 -1  0.38  O
29  1.00  0.67  0  0  1  0  0.6  0  0.50  O
38 -1.00  0.67  0  0  1  0  0.6  0  0.50  O
70 -0.33  0.50  1  1  0 -1  0.8  0  0.88  O
84 -0.33  0.78  1  0  0  1  1.0  1  0.06  O
93  0.33  0.75  1  0  1  0  0.8 -1  0.44  O

We are going to replicate the positive cases 7 times.

In [14]:
df_O=pd.concat([df_O]*7,ignore_index=True)
df_O

       0     1  2  3  4  5    6  7     8  9
0  -0.33  0.94  1  0  1  0  0.8  1  0.31  O
1  -0.33  0.67  1  1  0  0  0.8 -1  0.50  O
2   1.00  0.69  1  0  1  0  0.8 -1  0.25  O
3   1.00  0.67  1  0  0  0  0.8  1  0.38  O
4   1.00  0.69  1  0  1 -1  1.0 -1  0.44  O
..   ...   ... .. .. .. ..  ... ..   ... ..
79  1.00  0.67  0  0  1  0  0.6  0  0.50  O
80 -1.00  0.67  0  0  1  0  0.6  0  0.50  O
81 -0.33  0.50  1  1  0 -1  0.8  0  0.88  O
82 -0.33  0.78  1  0  0  1  1.0  1  0.06  O
83  0.33  0.75  1  0  1  0  0.8 -1  0.44  O

[84 rows x 10 columns]

Now, the positive cases and negative cases are less imbalanced. With the replication of positive cases, the positive cases are now 35.3% of the dataset. Concatenate the replicated positive instances with the negative instances in the original dataset.

In [15]:
df_N=df[df.iloc[:,9]=="N"]
df=pd.concat([df_N,df_O],axis=0)
df

       0     1  2  3  4  5    6  7     8  9
0  -0.33  0.69  0  1  1  0  0.8  0  0.88  N
2  -0.33  0.50  1  0  0  0  1.0 -1  0.50  N
3  -0.33  0.75  0  1  1  0  1.0 -1  0.38  N
5  -0.33  0.67  1  0  1  0  0.8  0  0.50  N
6  -0.33  0.67  0  0  0 -1  0.8 -1  0.44  N
..   ...   ... .. .. .. ..  ... ..   ... ..
79  1.00  0.67  0  0  1  0  0.6  0  0.50  O
80 -1.00  0.67  0  0  1  0  0.6  0  0.50  O
81 -0.33  0.50  1  1  0 -1  0.8  0  0.88  O
82 -0.33  0.78  1  0  0  1  1.0  1  0.06  O
83  0.33  0.75  1  0  1  0  0.8 -1  0.44  O

[172 rows x 10 columns]

Build the model again.

In [16]:
X=df.drop(columns=9, axis=0)
X

       0     1  2  3  4  5    6  7     8
0  -0.33  0.69  0  1  1  0  0.8  0  0.88
2  -0.33  0.50  1  0  0  0  1.0 -1  0.50
3  -0.33  0.75  0  1  1  0  1.0 -1  0.38
5  -0.33  0.67  1  0  1  0  0.8  0  0.50
6  -0.33  0.67  0  0  0 -1  0.8 -1  0.44
..   ...   ... .. .. .. ..  ... ..   ...
79  1.00  0.67  0  0  1  0  0.6  0  0.50
80 -1.00  0.67  0  0  1  0  0.6  0  0.50
81 -0.33  0.50  1  1  0 -1  0.8  0  0.88
82 -0.33  0.78  1  0  0  1  1.0  1  0.06
83  0.33  0.75  1  0  1  0  0.8 -1  0.44

[172 rows x 9 columns]

In [17]:
from sklearn import preprocessing
names=X.columns
scaler=preprocessing.StandardScaler()
X=scaler.fit_transform(X)
X=pd.DataFrame(X, columns=names)
X.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,0,1,2,3,4,5,6,7,8
0,-0.537058,0.046069,-2.424871,1.331989,0.921663,-0.188768,-0.029361,0.377389,2.531689
1,-0.537058,-1.626753,0.412393,-0.750757,-1.084995,-0.188768,1.233162,-0.847345,0.477677
2,-0.537058,0.574329,-2.424871,1.331989,0.921663,-0.188768,1.233162,-0.847345,-0.170958
3,-0.537058,-0.130017,0.412393,-0.750757,0.921663,-0.188768,-0.029361,0.377389,0.477677
4,-0.537058,-0.130017,-2.424871,-0.750757,-1.084995,-1.897611,-0.029361,-0.847345,0.153359

In [19]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
y=pd.DataFrame(df.iloc[:,9])
clf = ExtraTreesClassifier(n_estimators=50)
clf = clf.fit(X, y)
scores=pd.DataFrame(clf.feature_importances_).rename(columns={0:"scores"})
scores=scores.sort_values(by=["scores"],ascending=False).nlargest(5,"scores")
scores

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

     scores
1  0.180784
0  0.133119
8  0.122647
5  0.108838
6  0.107136

In [20]:
X=X.iloc[:,[1,8,0,6,5]]
X

            1         8         0         6         5
0    0.046069  2.531689 -0.537058 -0.029361 -0.188768
1   -1.626753  0.477677 -0.537058  1.233162 -0.188768
2    0.574329 -0.170958 -0.537058  1.233162 -0.188768
3   -0.130017  0.477677 -0.537058 -0.029361 -0.188768
4   -0.130017  0.153359 -0.537058 -0.029361 -1.897611
..        ...       ...       ...       ...       ...
167 -0.130017  0.477677  1.147534 -1.291884 -0.188768
168 -0.130017  0.477677 -1.385687 -1.291884 -0.188768
169 -1.626753  2.531689 -0.537058 -0.029361 -1.897611
170  0.838459 -1.900652 -0.537058  1.233162  1.520076
171  0.574329  0.153359  0.298905 -0.029361 -0.188768

[172 rows x 5 columns]

In [21]:
y=pd.DataFrame(df.iloc[:,9])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
print(X_train.shape)
print(X_test.shape)

(146, 5)
(26, 5)

In [22]:
tree = RandomForestClassifier(max_depth=10, class_weight="balanced_subsample",criterion="entropy",min_samples_split=4,random_state=0)
tree

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='entropy', max_depth=10, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=4, min_weight_fraction_leaf=0.0,
            n_estimators='warn', n_jobs=None, oob_score=False,
            random_state=0, verbose=0, warm_start=False)

In [23]:
tree.fit(X_train, y_train)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='entropy', max_depth=10, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=4, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=None, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [24]:
from sklearn.metrics import accuracy_score
y_pred=tree.predict(X_test)
print("Accuracy on test data is: ",accuracy_score(y_test,y_pred))

Accuracy on test data is:  1.0

In [25]:
from sklearn.metrics import roc_auc_score
print("Confusion matrix: \n",confusion_matrix(y_test,y_pred))

Confusion matrix:
 [[12  0]
 [ 0 14]]

**By re-balancing the dataset, we went from a model with 87% overall accuracy on test data but 0% sensitivity to a model with 96% on test data, 100% sensitivity and 94.1% specificity.** Commendable results.

Let's make sure that the positive cases in the test data are not all replicates.

In [26]:
len(y_test[y_test.iloc[:,0]=="N"])

12

In [27]:
y_test[y_test.iloc[:,0]=="O"]

    9
50  O
64  O
68  O
77  O
54  O
26  O
35  O
21  O
2   O
58  O
48  O
57  O
25  O
80  O

In [29]:
y_test[y_test.iloc[:,0]=="O"].index

Int64Index([50, 64, 68, 77, 54, 26, 35, 21, 2, 58, 48, 57, 25, 80], dtype='int64')

In [30]:
X.loc[[50, 64, 68, 77, 54, 26, 35, 21, 2, 58, 48, 57, 25, 80],:]

           1         8         0         6         5
50 -0.922407  0.153359  1.147534 -0.029361  1.520076
64 -1.362623  1.180365 -1.385687 -0.029361  1.520076
68 -1.362623 -0.170958 -1.385687 -0.029361  1.520076
77  1.278675 -0.549329 -0.537058  1.233162 -0.188768
54 -1.098494  0.477677 -1.385687  1.233162  1.520076
26 -1.098494  1.180365  1.147534  1.233162 -0.188768
35 -1.362623 -0.549329 -1.385687  1.233162  1.520076
21 -0.922407 -1.197964  1.147534  1.233162 -0.188768
2   0.574329 -0.170958 -0.537058  1.233162 -0.188768
58 -1.626753  0.315518 -0.537058  1.233162  1.520076
48  0.046069  1.829000 -0.537058  1.233162 -1.897611
57 -1.626753  2.531689 -0.537058 -0.029361 -1.897611
25 -0.922407  0.153359  1.147534 -0.029361 -0.188768
80  0.838459 -1.900652  0.298905  1.233162 -0.188768

In [31]:
X.loc[[50, 64, 68, 77, 54, 26, 35, 21, 2, 58, 48, 57, 25, 80],:].duplicated(keep=False)

50    False
64    False
68    False
77    False
54    False
26    False
35    False
21    False
2     False
58    False
48    False
57    False
25    False
80    False
dtype: bool

**None of the positive cases in the test data are the replications that generated to re-balance the original dataset. They are all from the original datasets.** This is a very commendable result. The original model has an overall accuracy of 86% on test data and 0% sensitivity. By re-balancing the data and carefully choosing the features, we now have a perfect model: 100% accuracy on test data, 100% sensitivity, 100% specificity.

That was a good example on what to do with imbalanced classification task. There are many other ways to tackle imbalanced classification task. For the task here, over-sampling the positive cases was the solution.